code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header,
article,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
article {
  float: left;
  width: 66.66%;
}
aside {
  float: right;
  width: 33.34%;
}
footer {
  clear: both;
  margin-bottom: 0;
}
